/* --------------- CSS Rest ------------------- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -------------------------------------------- */

body {
  border: 2px solid black;
}

#header {
  display: flex;
  align-items: end;
  padding: 8px;
  border-bottom: 1px solid black;
}

#header-title {
  font-size: 3rem;
  flex-grow: 1;
}

#header-author {
  font-size: 2.25rem;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  background-color: white;
  height: 60vh;
  width: 60vw;
  position: absolute;
  top: 20vh;
  left: 20vw;
  border: 2px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

#welcome-text {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid black;
}

.modal-bottom {
  flex-grow: 1;
  display: flex;
}

.modal-bottom-left {
  border-right: 1px solid black;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.center-text {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid black;
}

.player-input-form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-name-input {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  text-align: center;
  font-size: 2rem;
  border: unset;
}

#player-name-input:hover {
  transform: scale(1.1);
}

#player-name-input:focus-visible {
  outline: unset;
}

.modal-bottom-right {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#start-btn {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  line-height: 98px;
  text-align: center;
  cursor: pointer;
}

#start-btn:hover {
  border: 2px solid green;
  color: green;
  transform: scale(1.1);
}

#main {
  min-height: calc(100vh - 9rem);
  display: flex;
}

.left,
.right {
  width: 30vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.center {
  width: 40vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.name-box {
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 1px solid black;
  text-align: center;
}

.temp {
  flex-grow: 1;
}

.choice-display-header {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px dashed black;
}

.choice-display {
  text-align: center;
  font-size: 6rem;
}
#control-buttons {
  display: flex;
  justify-content: center;
  align-items: end;
  border-top: 1px solid black;
}

.choice-button {
  cursor: pointer;
}

.choice-button > img {
  height: 10rem;
}

.choice-button > img:hover {
  transform: scale(1.05);
  /* border: 1px dotted blue; */
}
.choice-button:first-child {
  transform-origin: bottom;
  transform: rotate(-20deg);
}

.choice-button:last-child {
  transform-origin: bottom;
  transform: rotate(20deg);
}

#result-box {
  height: 70%;
  overflow-y: auto;
}

#score-box {
  height: 30%;
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}

#player-score,
#computer-score {
  border: 1px solid black;
  background-color: aqua;
  width: 30%;
}

#reset-button {
  border: 1px solid black;
  background-color: aqua;
  width: 30%;

  font-size: 3rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

#footer-author-link {
  color: green;
  font-weight: 700;
}
