* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

#header {
    display: flex;
    align-items: end;
    padding: 8px;
    border-bottom: 1px solid black;
}

#header-title {
    font-size: 4rem;
    flex: 1 1 0;
}
#header-author {
    font-size: 2.5rem;
}